
<script>
    //$(document).ready(function () {
    //if($('#eval').val()=='SI'){
        alert("La accion se realizo con exito!");
    //}
    //else
    //{
    //    alert("NO ");
    //}
    ////});
</script>


@*<input type="text" id="eval" value="@ViewBag.error"/>
@*<h1> @ViewBag.x+" "+"Hola"</h1>*@


